
/* https://markheath.net/post/customize-radio-button-css */

.radio-toolbar {
    margin: 10px;
}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding: 10px 20px;
    font-family:Arial;
    font-size:16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bfb;
    border-color: #4c4;
}