/*
    @media screen and (max-width: 600px) {

        .ansr {
            order: 2;
            margin-left: 1.5em;
            margin-top: .5em;
        }

        .ques {
            order: 1;
        }
    }
    */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .8s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(20px);
    opacity: 0;
}


/* https://markheath.net/post/customize-radio-button-css */

.radio-toolbar {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 3em;       /* PDB Added */

}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    width: 75px;            /* PDB reduced from 100px */
    height: 34px;
    padding: 3px 10px;
    margin-right: 5px;
    background-color: #1b2661;
    background-size: cover;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 0px;
}

.radio-toolbar label:hover {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
    color: #050505;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#c8c8c8;
    border-color: #c8c8c8;
    color: #050505;
}

/* Question */

.ques {
    padding-left: 2em;
}

/* other */

.background-image {
    width: 1457px;
    height: 726px;
}

.background-image:after {
    content: "";
    background-image: url("/images/image-1df301.png");
    background-repeat: no-repeat;
    background-color: #fff;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/*
     For report
 */

.not_eligible {
    color: red;
}

/* Help button */

.help-button {
    margin-left: 1em;
}

.help-button:hover {
    color: lightgray;
}
